.shopTitle {
    text-align: center;
    font-size: 40px;
    margin-bottom: 3rem;
  }
  .shop{
    padding-block: 5rem;
    width: 90%;
    margin-left:3% ;
  }
  .products{
    width: 100%;
    gap: 5rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-content: center;
  }
  
  .product {
   width: clamp(350px,40vw,35%); 
   height: 85vh; 
   border: 1px solid gray;
   box-shadow: 0 0 5rem #93a6a6;
   border-radius: 1rem;
   overflow: hidden;
   background-color: #fff;
   &:hover{
    box-shadow: none;
    img{
      transform: scale(1.05,1.05);
    }
   }
  }
  .details{
    padding: 1rem;
    display: grid;
    gap: .8rem;
  }
  .product img {
    width: 100%;
    transition: all .3s ease;
    height: 300px;
    
  }
  
 
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCart {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    color: rgb(19, 19, 19);
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCart:hover {
    background-color:rgb(19, 19, 19);
    color:  white;
    cursor: pointer;
  }
  button{
    width: fit-content;
  }
  @media screen and (max-width:900px) {
    .products{
      /* grid-template-columns: repeat(2,200px); */
    }
  }
  @media screen and (max-width:600px) {
    .products{
      margin-left:8% ;
      grid-template-columns: 1fr;
    }
  }